@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

:root{
    --bs-border-color: var(--gray);
    --bs-border-width: 2px;
    --h1-size: 36px;
    --h2-size: 28px;
    --h3-size: 24px;

    --text1-size: 20px;
    --text2-size: 18px;
    --text3-size: 16px;
    --text4-size: 14px;

    --white: #fff;
    --black: #1c1c1c;
    --dark-gray: #505050;
    --gray: #929292;
    --light-gray: #dedede;
    --blue-Gray: #E6ECEC;
    --dark-blue: #252a38;
    --mint: #2ac1bc;
    --red: #e95b5a;
    --orange: #f1511e;
}

/* Typography */
.h1{
    font-size: var(--h1-size);
    font-weight: 700;
    line-height: 40px;
}
.h2{
    font-size: var(--h2-size);
    font-weight: 700;
    line-height: 40px;
}
.h3{
    font-size: var(--h3-size);
    font-weight: 700;
    line-height: 40px;
}
.text1{
    font-size: var(--text1-size);
    font-weight: 500;
}
.text2{
    font-size: var(--text2-size);
    font-weight: 500;
}
.text3{
    font-size: var(--text3-size);
    font-weight: 500;
}
.text4{
    font-size: var(--text4-size);
    font-weight: 500;
}

/* Icon */
.icon_test{
    font-size: 32px;
    color: var(--dark-gray);
}
.icon_test i{
    padding: 0 5px;
}
.icon_test i:hover{
    color: var(--black);
    border-radius: 4px;
}

/* Form, Select, Checkbox, Toggle */
.form-check-input:checked {
    background-color: var(--red);
    border-color: var(--red);
}
.form-control:focus,
.form-select:focus,
.form-check-input:focus{
    box-shadow: 0px 0px 0px 5px rgba(42, 193, 188, 0.35);
    border-color: var(--mint);
    border-width: 2px;
}

/* Button */
.btn {
    --bs-btn-font-weight: 700;
}
.btn-primary {
    --bs-btn-bg: var(--mint);
    --bs-btn-border-color: var(--mint);
    --bs-btn-hover-color: var(--mint);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--mint);
    --bs-btn-active-bg: var(--mint);
    --bs-btn-active-border-color: var(--mint);
    --bs-btn-disabled-bg: var(--mint);
    --bs-btn-disabled-border-color: var(--mint);
}

/* Layout */
body{
    background-color: var(--dark-blue);
    font-family: 'Inter', sans-serif;
}
.background{
    max-width: 1920px;
    background-color: var(--white);
    margin: 1% 3% 0%;
    border-radius: 24px;
}
.aside{
    width: 15%;
}
.aside p{
    width: 100%;
    text-align: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: 25%;
    
}
.aside .logo{
    margin: 30% 0;
    text-align: center;
}
.aside p:hover{
    background: var(--dark-blue);
    color: var(--white);
}
.aside hr{
    width: 180px;
    margin: 0 auto;
    height: 2px;
    border: 0;
    background: var(--dark-blue);
    opacity: 1;
}






/* 서은 */