@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

:root{
    /* LAYOUT */
    --base-unit: 20px;
    --bs-border-color: var(--gray);
    --bs-border-width: 2px;

    /* TYPOGRAPHY */
    --h1-size: 36px;
    --h2-size: 28px;
    --h3-size: 24px;
    --text1-size: 20px;
    --text2-size: 18px;
    --text3-size: 16px;
    --text4-size: 14px;

    /* COLOR */
    --white: #fff;
    --black: #1c1c1c;
    --dark-gray: #505050;
    --gray: #929292;
    --light-gray: #dedede;
    --blue-Gray: #E6ECEC;
    --dark-blue: #252a38;
    --mint: #2ac1bc;
    --red: #e95b5a;
    --orange: #f1511e;
}

/* LAYOUT */
body{
    background-color: var(--dark-blue);
    color: var(--black);
    font-family: 'Inter', sans-serif;
}
.background{
    max-width: 1800px;
    margin: 1% auto;
}
.aside, .main{
    background-color: var(--white);
    border-radius: 24px;
}
.aside{
    width: 15%;
}
.aside p{
    width: 100%;
    text-align: left;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 5% 0 5% 18%;
    margin-top: 10%;  
    color: var(--dark-blue);
}
.aside .logo{
    margin: 30% 0;
    text-align: center;
}
.aside p:hover{
    background: var(--dark-blue);
    color: var(--white);
}
.main{
    width: 85%; 
}

/* hr{
    width: 180px;
    margin: 0 auto;
    height: 2px;
    border: 0;
    background: var(--dark-blue);
    opacity: 1;
} */

/* TYPOGRAPHY */
.h1{
    font-size: var(--h1-size);
    font-weight: 700;
    line-height: 40px;
}
.h2{
    font-size: var(--h2-size);
    font-weight: 700;
    line-height: 40px;
}
.h3{
    font-size: var(--h3-size);
    font-weight: 700;
    line-height: 40px;
}
.text1{
    font-size: var(--text1-size);
    font-weight: 500;
}
.text2{
    font-size: var(--text2-size);
    font-weight: 500;
}
.text3{
    font-size: var(--text3-size);
    font-weight: 500;
}
.text4{
    font-size: var(--text4-size);
    font-weight: 500;
}

/* ICON */
i.bi{
    color: var(--dark);
    font-size: 24px;
    padding: 0 5px;
}
.icon_gray:hover{
    color: var(--gray);
}
.icon_red:hover{
    color: var(--red);
}
.icon_mint:hover{
    color: var(--mint);
}

/* FORM, SELECT, CHECKBOX, TOGGLE */
.form-check-input:checked {
    background-color: var(--mint);
    border-color: var(--mint);
}
.form-control:focus,
.form-select:focus,
.form-check-input:focus{
    box-shadow: 0px 0px 0px 5px rgba(42, 193, 188, 0.35);
    border-color: var(--mint);
}
.form-select{
    color: var(--dark-gray);
    font-weight: 700;
}
input.form-control::placeholder{
    color: var(--gray);
}

/* BUTTON */
.btn {
    --bs-btn-font-weight: 700;
}
.btn-primary {
    --bs-btn-bg: var(--mint);
    --bs-btn-border-color: var(--mint);
    --bs-btn-hover-color: var(--mint);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--mint);
    --bs-btn-active-bg: var(--mint);
    --bs-btn-active-border-color: var(--mint);
    --bs-btn-disabled-bg: var(--mint);
    --bs-btn-disabled-border-color: var(--mint);
}
.btn-secondary{
    --bs-btn-bg: var(--gray);
    --bs-btn-border-color: var(--gray);
    --bs-btn-hover-color: var(--gray);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--gray);
    --bs-btn-active-bg: var(--gray);
    --bs-btn-active-border-color: var(--gray);
    --bs-btn-disabled-bg: var(--gray);
    --bs-btn-disabled-border-color: var(--gray);
}
.btn-dark{
    --bs-btn-bg: var(--dark-gray);
    --bs-btn-border-color: var(--dark-gray);
    --bs-btn-hover-color: var(--dark-gray);
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: var(--dark-gray);
    --bs-btn-active-bg: var(--dark-gray);
    --bs-btn-active-border-color: var(--dark-gray);
    --bs-btn-disabled-bg: var(--dark-gray);
    --bs-btn-disabled-border-color: var(--dark-gray);
}





/* 서은 */