@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root{
  /* LAYOUT */
  --base-unit: 24px;
  --bs-border-color: var(--gray);
  --bs-border-width: 2px;

  /* TYPOGRAPHY */
  --tt-size-00: 48px;
  --tt-size-01: 36px;
  --tt-size-02: 28px;
  --tt-size-03: 24px;

  --text1-size: 20px;
  --text2-size: 18px;
  --text3-size: 16px;
  --text4-size: 15px;
  --text5-size: 14px;
  --text6-size: 12px;

  /* COLOR */
  --bs-body-color: #1c1c1c;
  --white: #fff;
  --black: #1c1c1c;
  --dark-gray: #505050;
  --gray: #929292;
  --light-gray: #dedede;
  --blue-Gray: #E6ECEC;
  --dark-blue: #252a38;
  --mint: #2ac1bc;
  --green: #32AF8F;
  --mint-bg: #9EE5DA;
  --red: #e95b5a;
  --orange: #f1511e;

  /* BOX-SHADOW */
  --mint-focus: 0px 0px 0px 5px rgba(42, 193, 188, 0.35);
  --card-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.15);

  /* Gap */
  --gap-unit: 24px;
}

a{
  color: var(--dark);
  text-decoration: none;
}
img{
  width: 100%;
  vertical-align: top;
  object-fit: cover;
}

/* LAYOUT */
body{
  color: var(--black);
  font-family: 'Pretendard', sans-serif;
  font-size: var(--text3-size);
}
.space{ /* table tr에 적용 가능 */
  border-top: var(--base-unit) solid transparent;
}
.container_cr {
  max-width: 1272px;
  margin: 0 auto;
}
.main_mg_t{
  margin-top: calc(var(--base-unit)*6);
}
.sub_mg_t{
  margin-top: calc(var(--base-unit)*4);
}
.sub_mg_b{
  margin-bottom: calc(var(--base-unit)*4);
}
.mg {
  margin: calc(var(--gap-unit)/2) 0;
}
.mg_bot {
  margin-bottom: var(--gap-unit);
}
.mg_top {
  margin-top: var(--gap-unit);
}

.gap {
  gap: 24px;
}

/* TYPOGRAPHY */
.tt_00{
  font-size: var(--tt-size-00); /* 48px */
  font-weight: bold;
  line-height: 1;
}
.tt_01{
  font-size: var(--tt-size-01); /* 36px */
  font-weight: bold;
  line-height: 40px;
}
.tt_02{
  font-size: var(--tt-size-02); /* 28px */
  font-weight: bold;
  line-height: 40px;
}
.tt_03{
  font-size: var(--tt-size-03); /* 24px */
  font-weight: bold;
  line-height: 40px;
}
.text1{
  font-size: var(--text1-size); /* 20px */
  font-weight: 400;
}
.text2{
  font-size: var(--text2-size); /* 18px */
  font-weight: 400;
}
.text3{
  font-size: var(--text3-size); /* 16px */
  font-weight: 400;
}
.text4{
  font-size: var(--text4-size); /* 15px */
  font-weight: 400;
}
.text5{
  font-size: var(--text5-size); /* 14px */
  font-weight: 400;
}
.text6{
  font-size: var(--text6-size); /* 12px */
  font-weight: 400;
}

/* COLOR */
.white{
  color:var(--white);
}
.black{
  color:var(--black);
}
.dark_gray{
  color:var(--dark-gray);
}
.gray{
  color:var(--gray);
}
.light_gray{
  color:var(--light-gray);
}
.blue_Gray{
  color:var(--blue-Gray);
}
.dark_blue{
  color:var(--dark-blue);
}
.mint{
  color:var(--mint);
}
.green{
  color:var(--green);
}
.mint_bg{
  color:var(--mint-bg);
}
.red{
  color:var(--red);
}
.orange{
  color:var(--orange);
}

/* BACKGROUND_COLOR */
.white_back{
  background:var(--white);
}
.black_back{
  background:var(--black);
}
.dark_gray_back{
  background:var(--dark-gray);
}
.gray_back{
  background:var(--gray);
}
.light_gray_back{
  background:var(--light-gray);
}
.blue_Gray_back{
  background:var(--blue-Gray);
}
.dark_blue_back{
  background:var(--dark-blue);
}
.mint_back{
  background:var(--mint);
}
.green_back{
  background:var(--green);
}
.mint_bg_back{
  background:var(--mint-bg);
}
.red_back{
  background:var(--red);
}
.orange_back{
  background:var(--orange);
}

/* ICON */
i.bi{
  color: var(--dark);
  font-size: 24px;
}
/* i.bi.material-symbols-outlined{ */
i.material-symbols-outlined{
  color: var(--dark);
  font-size: 28px;
  vertical-align: bottom;
}
.icon_red_basic {
  color: var(--red);
}
.icon_gray:hover{
  color: var(--gray);
}
.icon_red:hover{
  color: var(--red);
}
.icon_mint:hover{
  color: var(--mint);
}

/* FORM, SELECT, TOGGLE */
.form-check-input{
  width: 42px !important;
  height: 20px !important;
}
.form-check-input:checked {
  background-color: var(--mint);
  border-color: var(--mint);
}
.form-control:focus,
.form-select:focus,
.form-check-input:focus{
  box-shadow: var(--mint-focus);
  border-color: var(--mint);
}
input.form-control::placeholder{
  color: var(--gray);
}
input:focus::placeholder{
  color:transparent;
}
.search{
  position: relative;
  display: inline-block;
}
.search input{
  padding-right: 35px;
}
.search button{
  position: absolute;
  /* background: var(--white); */
  padding: 1px 5px 0; 
  top: 6px;
  right: 2px;
}

/* BUTTON */
button{
  background: transparent;
  border: none;
}
.btn {
  --bs-btn-font-weight: 600;
}
.btn-primary {
  --bs-btn-bg: var(--mint);
  --bs-btn-border-color: var(--mint);
  --bs-btn-hover-color: var(--mint);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--mint);
  --bs-btn-active-bg: var(--mint);
  --bs-btn-active-border-color: var(--mint);
  --bs-btn-disabled-bg: var(--mint);
  --bs-btn-disabled-border-color: var(--mint);
}
.btn-secondary{
  --bs-btn-bg: var(--gray);
  --bs-btn-border-color: var(--gray);
  --bs-btn-hover-color: var(--gray);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--gray);
  --bs-btn-active-bg: var(--gray);
  --bs-btn-active-border-color: var(--gray);
  --bs-btn-disabled-bg: var(--gray);
  --bs-btn-disabled-border-color: var(--gray);
}
.btn-dark{
  --bs-btn-bg: var(--dark-gray);
  --bs-btn-border-color: var(--dark-gray);
  --bs-btn-hover-color: var(--dark-gray);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--dark-gray);
  --bs-btn-active-bg: var(--dark-gray);
  --bs-btn-active-border-color: var(--dark-gray);
  --bs-btn-disabled-bg: var(--dark-gray);
  --bs-btn-disabled-border-color: var(--dark-gray);
}
.btn-danger {
  --bs-btn-bg: var(--red);
  --bs-btn-border-color: var(--red);
  --bs-btn-hover-color: var(--red);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--red);
  --bs-btn-active-bg: var(--red);
  --bs-btn-active-border-color: var(--red);
  --bs-btn-disabled-bg: var(--red);
  --bs-btn-disabled-border-color: var(--red);
}
.btn-outline-primary {
  --bs-btn-color: var(--dark-blue);
  --bs-btn-border-color: var(--dark-blue);
  --bs-btn-hover-color: var(--mint);
  --bs-btn-active-bg: var(--mint);
  --bs-btn-active-border-color: var(--mint);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--mint);
}
.btn-dark-blue {
  --bs-btn-hover-color: var(--white);
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--dark-blue);
  --bs-btn-hover-bg: var(--mint);
  --bs-btn-hover-border-color: var(--mint);
}
.btn-close{
  --bs-btn-close-focus-shadow: none;
}

/* BOX-SHADOW */
.box_shadow{
  background: var(--white);
  box-shadow: var(--card-shadow);
}

/* BORDER-RADIUS */
.radius_medium{
  border-radius: 12px;
}
.radius_large{
  border-radius: 24px;
}

/* PAGINATION */
.pagination {
  font-weight: 600;
  --bs-pagination-bg: transparent;
  /* --bs-pagination-border-color: var(--light-gray);  */
  --bs-pagination-hover-color: var(--gray);
  --bs-pagination-hover-bg: transparent;
  --bs-pagination-focus-color: var(--mint);
  /* --bs-pagination-focus-box-shadow: inset var(--mint-focus); */
  --bs-pagination-focus-box-shadow: transparent;
  --bs-pagination-focus-bg: transparent;
  --bs-pagination-active-bg: var(--mint);
  --bs-pagination-active-border-color: var(--mint);
  --bs-pagination-disabled-color: var(--light-gray);
  --bs-pagination-disabled-bg: transparent;
}
.page-link {
  line-height: 1.5;
  color: var(--dark-gray);
  border-radius: var(--bs-border-radius);
  border: transparent;
  margin: 0 0.125rem;
}

/* SELECT */
.ui-widget {
  font-family: 'Pretendard', sans-serif;
  text-align: center;
  color: var(--dark-gray);
}
.ui-selectmenu-button.ui-button {
  text-align: center;
  font-weight: 700;
  background: var(--white);
  border: var(--bs-border-width) solid var(--gray);
  border-radius: var(--bs-border-radius);
  line-height: 1.5;
  margin-right: 0;
  padding: 0.375rem 0.75rem;
}
.ui-selectmenu-button.ui-button:hover{
  color: var(--dark-gray);
}
.ui-widget.ui-widget-content {
  border: var(--bs-border-width) solid var(--gray);
  border-radius: var(--bs-border-radius);
}
.ui-menu-item-wrapper {
  line-height: 1.3;
}
.ui-menu-item-wrapper.ui-state-active {
  border: var(--mint);
  background: var(--mint);
  box-sizing: border-box;
  margin: 0;
}
.ui-button:focus {
  box-shadow: var(--mint-focus);
  border: var(--bs-border-width) solid var(--mint);
}
/* 정렬 */
.ui-selectmenu-button.ui-button {
  display: flex;
  align-items: center;
  justify-content:  center
}
.ui-selectmenu-icon {
  order: 2;
}

/* hr */
hr {
  margin: var(--base-unit) 0;
  color: var(--gray);
  opacity: 1;
}

 /* Header */
header {
  box-shadow: 0 2px 4px 0 hsla(0,0%,80.8%,.5);
}
header .menu-list li{
  padding: 0 calc(var(--gap-unit)*1.8);
}
header .menu-list li:hover a {
  color: var(--mint);
  /* border-bottom: 1px solid var(--mint); */
}

header .login-btn{
  gap: var(--gap-unit);
}

header .login-btn a {
  display: inline-block;
  width: 60px;
  height: 34px;
  padding: 0;
  line-height: 32px;
}

header .login-btn a+a {
  width: 80px;
}

/* header .login-ok-btn > a:hover > i,
header .login-ok-btn > div:hover > a > i {
  color: var(--mint);
} */

/* login mypage */

.main_admin .login_mypage {
  display: none;
  position: absolute;
  top: 160%;
  right: -24px;
  width: 288px;
  box-shadow: 2px 3px 9px 0px rgba(0, 0, 0, 0.55);
  z-index: 999;
  background-color: var(--white);
  box-sizing: border-box;
}
.login_mypage::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 18px;
  top: -18px;
  right: 20px;
  border-bottom: 15px solid var(--white);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  filter: drop-shadow(0px -3px 2px rgba(0, 0, 0, 0.08));
}
.login_mypage .login_content {
  height: 100%;
}

.login_mypage .thumbnail {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: var(--mint) solid 1px;
  background-color: rgba(50, 175, 143, .1);
  padding: 15px;
  margin: 12px 0;
  box-sizing: border-box;
}
.login_mypage .thumbnail img {
  width: 87%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.login_mypage .login_icon_box {
  gap: 8px;
  width: 100%;
}

.login_mypage .login_icon_box a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--bs-border-radius);
  padding: 8px 10px;
  box-sizing: border-box;
  background-color:var(--mint-bg);
  border: 1px solid var(--mint-bg);

}

.login_mypage .login_icon_box a:hover {
  color: var(--mint);
  background: var(--white);
  border: 1px solid var(--mint);
}

.login_mypage .login_icon_box a span {
  margin-left: 8px;
}

.login_mypage .bi-ticket-perforated::before {
  content: "\F6CA";
}

/* /login mypage */

/* recent */
#recent{
  width: 100px;
  border: 1px solid var(--gray);
  bottom: 292px;
  right: calc(50% + -825px);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
#recent.active{
  opacity: 1;
	visibility: visible;
  transition: 0.3s;
}

/* recentView */
.modal{
  --bs-modal-border-color: none;
}
.modal-header{
 border-bottom: none;
}
.modal-footer{
  border-top: none;
}
.modal-body i.bi{
  font-size: var(--text1-size);
}
.modal-footer i.bi{
  font-size: var(--text2-size);
}
.modal-dialog{
  position: absolute;
  /* max-width: 600px; */
  max-width: 500px;
  top: 50%;
  left: 60%;
}
.modal.show .modal-dialog {
  transform: translateY(-50%);
}

/* top_btn */
.top_btn{
  width: 50px;
  height: 50px;
  border: 1px solid var(--gray);
  border-radius: 50%;
  bottom: 231px;
  right: calc(50% + -800px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}
.top_btn i.bi{
  font-size: var(--text6-size);
}
.top_btn.active{
  opacity: 1;
	visibility: visible;
}

/* coup_event */
.coup_event{
  left: 50px;
  bottom: 50px;
  z-index: 100;
}
.coup_event img{
  width: 150px;
}
