h2{
    margin-top: calc(var(--gap-unit) * 5);
}
input{
    border: 1px solid #DEE2E6 !important;
}
label{
    color: var(--dark-gray);
}
#find_form div, #change_form div, #find_form button, #change_form button{
    width: 20vw;
    margin: 0 auto;
}