.login{
  text-align: center;
  margin: 312px 0 268px 0;
}
.login h2{
  margin-bottom: 13px;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
}
.form-control{
  width: 312px;
  border: var(--bs-border-width) solid var(--light-gray);
}
.login_button{
  width: 312px;
}
.login form input{
  margin-bottom: 13px;
}
.login_id{
  display: inline-block;
}
.login a{
  font-size: 14px;
}
.login_link{
  width: 312px;
  margin: 17px auto 25px;
}
.login_find{
  width: 156px;
}
.login h5{
  color: var(--gray);
  margin-bottom: 18px;
  font-weight: 500;
}
.login_sns{
  gap: 32px;
}
.login_sns li img{
  width: 2vw;
}
.login .search i{
  font-size: 18px;
  vertical-align: -5px;
  padding-right: 7px;
}

