.swiper {
  position: relative;
}

.banner .swiper-slide {
  width: 100%;
  height: 62vh;
  padding: 82px;
  box-sizing: border-box;
  background: url(../img/main/banner_1.png) no-repeat center / cover;
}

.banner .swiper-slide .text1{
  line-height: 1.4;
}
.banner .swiper-slide .tt_00{
  line-height: 1.25;
  margin-top: calc(var(--base-unit)*2);
}

.banner .slide2 {
  background-image: url(../img/main/banner_2.png);
}

.banner .slide3 {
  background-image: url(../img/main/banner_3.png);
}

.main-play{
  display: none;
}

.main-pager {
  position: absolute;
  left: 17%;
  bottom: 10%;
  padding: 5px;
  color: var(--white);
  background-color: var(--dark-gray);
  border-radius: 24px;
  z-index: 100;
}

.main-pager .swiper-pagination  {
  position: static;
  display: inline-block;
  width: 60px;
}
/* /banner-slide */

/* cate_list */
.cate_list{
  height: 30vh;
}
.cate_list img{
  width: 70px;
}
.cate_list ul{
  margin-top: calc(var(--base-unit)*1.5);
}
/* /cate_list */

.mg_bot2 {
  margin-bottom: 48px;
}

.main_icon li:hover h3 {
  color: var(--mint);
}

.main_icon a {
  gap: 5px 0;
}

.main_icon img {
  display: inline-block;
  width: 70px;
  height: 70px;
}



/* /main_icon */

/* new-slide */
.new {
  position: relative;
}

.new .swiper-slide {
  position: relative;
  overflow: hidden;
  box-shadow: var(--card-shadow);
  border-radius: 12px;
  height: 360px;
  transition: 0.3s;
}
.new .swiper-slide:hover{
  transform: translateY(-10px);
  transition: 0.3s;
}

.new .text_box .text2 {
  overflow: hidden; 
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}

.new i.chevron {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% + var(--gap-unit));
  font-size: 50px;
} 

.new i.chevron+i.chevron {
  left: calc(100% + var(--gap-unit));
  right: 0;
}

.new img{
  height: 200px;
}
/* /new-slide */


/* over_pd 그림자 부분이 스와이퍼 자체 hidden 땜에 줌 */
.over_pd {
  padding: 15px;
}

.common_mg {
  margin-bottom: 120px;
}

/* font */
section .text2 {
  line-height: 1.5;
}

.name {
  margin: 12px 0 24px;
}
/* /font */

/* line */
.line {
  display: inline-block;
  width: 1px;
  height: 12px;
  background: var(--dark-gray);
  margin: 0 5px;
}
/* /line */

/* text_box */
  .text_box {
    padding: 20px;
  }
/* /text_box */



/* 혜영 start */
.card_tt{
  font-weight: bold;
  line-height: 1.25;
}

/* best */
.best{
  background: linear-gradient(var(--mint-bg) 360px, #fff 360px);
}
.ctBtn{
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 1rem;
}
.best .best_list li{
  overflow: hidden;
  transition: 0.3s;
  position: relative;
}
.best .best_list li:hover{
  transform: translateY(-10px);
  transition: 0.3s;
}
.best .best_list li img{
  height: 216px;
}
.best .best_list .best_box{
  padding: 20px 15px;
}
.best .text5{
  line-height: var(--base-unit);
}
.orange{
  font-weight: bold;
}

/* total */
.total{
  margin-top: calc(var(--base-unit)*3);
  padding: var(--base-unit) 0;
  border: var(--bs-border-width) solid var(--mint);
  background: rgba(50, 175, 143, .1) ;
}
.total img{
  width: 80px;
}
.total span{
  border: 1px solid var(--mint);
  margin: var(--base-unit) 0;
}

/* event */
.event{
  background: #313A53 url('../img/main/event_banner.png') right bottom no-repeat;
  padding: calc(var(--base-unit)*2);
}
.event .text1{
  line-height: 1.25;
}
.event .app_box{
  width: 40%;
}

/* pick */
.pick .pick_box{
  background: var(--mint-bg) url('../img/main/img_bag.png') center bottom no-repeat;
  padding: calc(var(--base-unit)*2);
}
.pick .pick_card img{
  height: 120px;
}
.pick .pick_card{
  transition: 0.3s;
}
.pick .pick_card:hover{
  transform: translateY(-10px);
  transition: 0.3s;
}

/* notice */
.notice .notice_silde{
  height: 72px;
}
.notice .text2{
  line-height: var(--base-unit);
  font-weight: bold;
}
.notice > div > a{
  font-weight: bold;
}

/* 혜영 end */
