/* banner-slide */
.swiper {
  position: relative;
}

.banner .swiper-slide {
  width: 100%;
  height: 382px;
  padding: 80px;
  box-sizing: border-box;
  background: url(../img/main/banner_1.png) no-repeat center / cover;
}

.banner .slide2 {
  background-image: url(../img/main/banner_2.png);
}

.banner .slide3 {
  background-image: url(../img/main/banner_3.png);
}

.main-play{
  display: none;
}

.main-pager {
  position: absolute;
  left: 17%;
  bottom: 10%;
  padding: 5px;
  color: var(--white);
  background-color: var(--dark-gray);
  border-radius: 24px;
  z-index: 100;
}

.main-pager .swiper-pagination  {
  position: static;
  display: inline-block;
  width: 60px;
}
/* /banner-slide */


/* new-slide */
.new {
  position: relative;
}

.new i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% + var(--gap-unit));
  font-size: 50px;
} 

.new i+i {
  left: calc(100% + var(--gap-unit));
  right: 0;
}
/* /new-slide */

/* font */
section .text2 {
  line-height: 1.5;
}

/* /font */