.sec_mg_t{
  margin-top: calc(var(--base-unit)*6);
}
.sec_mg{
  margin: calc(var(--base-unit)*4) 0;
}
#search_form{
  margin-top: -18px;
}
.card_tt{
  font-weight: bold;
  line-height: 1.25;
}
.my_list li{
  width: 32%;
}
.my_list i.bi{
  color: var(--mint);
}