input{
    border: 1px solid #DEE2E6 !important;
}
label{
    color: var(--dark-gray);
}
#signup_form div, button{
    width: 20vw;
    margin: 0 auto;
}
.warning{
    color: var(--red);
}
.easy_join{
    color: var(--gray);
}
.sns{
    gap: 20px;
}
.sns img{
    width: 3vw;
}
.hidden{
    display: none;
}