.main{
    width: 100% !important;
    height: 90vh !important;
}
form{
    width: 25%;
}
form .btn{
    width: 100%;
}
form input{
    height: calc(var(--base-unit) * 3);
    line-height: calc(var(--base-unit) * 3);
    padding-left: var(--base-unit) !important;
    border-radius: 40px !important;
}
.logo p{
    margin: calc(var(--base-unit) * 2) 0;
}
#userpw{
    margin: calc(var(--base-unit) * 0.5) 0 calc(var(--base-unit) * 2);
}
.hidden_label{
    display: none;
}
button[type='submit']{
    height: calc(var(--base-unit) * 3);
    border-radius: 40px;
}

/* Popup */
#popup{
    width: 500px;
    position: fixed;
    top: 5px;
    margin-left: 160px;
    border: 5px solid var(--mint);
    padding: calc(var(--base-unit)*1.5);
    border: 3px solid var(--mint);
    border-radius: 3px;
}
#popup p{
    padding: 1%;
}
#popup p.text1{
    font-weight: 700;
    line-height: 1.5;
}
#popup hr{
    border: 1px solid var(--mint);
    margin: 15px 0; 
    opacity: .5;
}
#popup #daycheck{
    width: 20px !important;
    height: 20px !important;
}
#popup a{
    /* box-shadow: inset 0 -8px 0 #fec5c9; */
    color: var(--red);
    font-weight: 700;
}
#popup i.bi-github{
    font-size: var(--text2-size);
}
#popup button{
    width: 60px;
    height: 55px;
    margin-top: -30px;
    margin-bottom: 10px;
}
#popup button img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* /Popup */