/* s */

h2.h1 {
	text-align: center;
	margin-bottom: calc(var(--base-unit)*2);
}
table {
  width: 100%;
}
.coup_thumbnail img {
	display: inline-block;
	width: 226px;
	height: 140px;
	border-radius: 6px;
}