/* s */

h2.h1 {
	text-align: center;
	margin-bottom: calc(var(--base-unit)*2);
}
.common_select_box {
	margin-bottom: calc(var(--base-unit)*2);
}
.row-cols-2 {
	justify-content: space-between;
}
.row-cols-2 > * {
	width: 49%;
}
.row {
	gap: 20px 0;
}
.row>* {
	padding: 20px;
	border-radius: 12px;
}
.coup_box {
	gap: 20px;
}
.coup_thumbnail img {
	display: inline-block;
	width: 226px;
	height: 140px;
	border-radius: 6px;
}
/* .coup_content > div {
	margin: 12px 0;
} */
.coup_content {
	width: 80%;
}
.coup_content .coup_text > *{
	margin: var(--base-unit) 0;
}
.coup_content .coup_board {
	display: block;
	width: 60px;
	height: 24px;
	border: 2px solid var(--orange);
	border-radius: 24px;
	line-height: 20px;
	padding: 0 7px;
	color: var(--orange);
}

.coup_content .coup_icon {
	gap: calc(var(--base-unit)/2) 0;
}
.coup_content .coup_common_icon {
	gap: 0 calc(var(--base-unit)/2);
}
.coup_modal .modal-body .form-control {
	width: 80%;
}