.class_tocate_btn, .class_add_btn, .class_search_btn, .class_reset_btn {text-wrap: nowrap;}
.class_cate_filter {width: 100%;}
.class_cate_filter div {width: 36%;}
.form-check-input {width: 20px !important; margin: 0;}
label.form-check-label {line-height: 20px;}
.input-group {width: 30%;}

#search_keyword {width: 280px; height: 40px;}
.class_add_btn {width: 128px;}

.class_admin_thumb {width: 120px; height: 78px;}
div.class_admin_item {
  border-radius: 6px !important; padding: 12px 24px;
  box-shadow: 4px 5px 17px 0px rgba(0, 0, 0, 0.15);
}
.class_admin_name {font-size: var(--text2-size); font-weight: 600;}
.class_admin_level {border: 2px solid var(--orange); padding: 4px 8px; font-size: 14px; font-weight: 600; height: 26px;}
.class_status_option {margin: auto 0;}
.class_main_info {width: 60%;}
.admin_display_option {width: 22%;}
.class_status_option {width: 12%;}
.class_modi_del {width: 6%;}
.class_allmodi_btn {text-align: right;}
