.table{
  --bs-table-bg:var(--blue-Gray);
}
.class_m_pd{
  padding-bottom: 40px;
}
.class_sm_pd{
  padding-bottom: 20px;
}
.class_hr{
  color: var(--gray);
  padding: 2px 0;
}
.class_bold{
  font-weight: 700;
}
.class_title{
  width: 120px;
}
.class_img{
  width: 300px;
}