.table{
  padding: 0;
  margin: 0;
}
.table>:not(caption)>*>*{
  padding: 0;
}
.class_table tr{
  box-shadow: 4px 5px 17px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 7px;
  padding: 0 26px 0 39px;
  border-radius: 12px;
}
.form-control{
  display: inline-block;
  width: 232px;
}
.class_ss_mt{
  margin-top: 10px;
}
.class_m_mt{
  margin-top: 20px;
}
.class_ss_mb{
  margin-bottom: 10px;
}
.class_sm_m{
  margin-bottom: 20px;
}
.class_ss_bb{
  margin-bottom: 36px;
}
.class_ss_ml{
  margin-left: 15.75px;
}
.class_s_mr{
  margin-right: 14px;
}
.class_b_mr{
  margin-right: 44px;
}
.class_sm_mtb{
  padding: 20px 0 20px 48px;
}
.class_mtb{
  padding: 20px 0 20px;
}
.class_m_pd{
  padding-bottom: 40px;
}
.class_list_img img{
  display: inline-block;
}
.class_level_tag{
  border: 2px solid var(--orange);
  border-radius: 3px;
  padding: 0 12px;
  margin-left: 14px;
}
.class_level_tag, .class_date_tag{
  font-size: 15px;
}
.class_p_val{
  font-size: 15px;
}
.class_date_tag{
  margin-left: 8px;
}
.class_button>div:first-child{
  margin-bottom: 31px;
}
.class_delete{
  padding-left: 5px;
  color: var(--dark);
  font-size: 24px;
}
.pagination{
  margin-top: 13px;
}
.class_list_item{
  cursor: pointer;
  
}
.class_list_item img{
  width: 112px;
  height: 112px;
  object-fit: contain;
}
#pcode3-button {
  margin-top: 0;
}
.ui-selectmenu-text{
  text-align: center;
}
#pcode3_1-button{
  font-weight: 400;
}