.class_ss_mt{
  margin-top: 10px;
}
.class_m_pd{
  padding-bottom: 40px;
}
.class_sm_pd{
  padding-bottom: 20px;
}
.class_v_img{
  margin-right: 94px;
  width: 178px;
  height: 122px;
  object-fit: contain;
}
.class_bold{
  font-weight: 700;
}
.class_bold span{
  font-weight: 400;
}
/* 임시 */
.class_level_tag{
  border: 2px solid var(--orange);
  border-radius: 3px;
  padding: 0 12px;
  font-size: 15px;
}
.class_hr{
  color: var(--gray);
}
.address_color{
  color: #0000FF;
  text-decoration: underline;
  text-decoration-color: #0000FF;
}
.class_into{
  word-spacing: 2px;
  line-height: 150%;
}
.class_tl{
  display: inline-block;
  width: 116px;
}
.class_tl2{
   display: inline-block;
  width: 134px;
}
.class_view_img img{
  margin-right: 40px;
  height: 108px;
}