.aside{
  max-height: none;
}
.table{
  --bs-table-bg:var(--blue-Gray);
  margin-bottom:0
}
.class_form_wd{
  display: inline-block;
  width: 232px;
}
.class_sform_wd{
  display: inline-block;
  width: 180px;
}
.class_lform_wd{
  display: inline-block;
  width: 267px;
}

.class_hr{
  color: var(--gray);
  margin: 0;
}
.class_m_pd{
  padding-bottom: 40px;
}
.class_ss_mt{
  margin-top: 10px;
}
.class_s_mt{
  margin-top: 20px;
}
.class_ss_ml{
  margin-left: 15.75px;
}
.class_sm_ml{
  margin-left: 24px;
}
.class_ss_mb{
  margin-bottom: 1px;
}
.label_h{
  line-height: 38.48px;
}
.class_video i{
  display: block;
  color: var(--dark-gray);
}
.class_add_img{
  width: 100%;
  height: 120px;
}
.class_add_img i{
  width: 38.14px;
  height: 39.77px;
  padding-right: 23px;
}
table th tr{
  vertical-align: top;
}
table th{
  width: 160px;
}
.note-editing-area{
  background-color: var(--white);
}
th{
  vertical-align: top;
}
input.form-control::placeholder{
  color: var(--dark-gray);
}
.table>:not(caption)>*>*{
  padding: 0 0.5rem 20px;
}
.class_btn_bd_color{
  border-color: var(--gray);
  background-color: var(--white);
}
.class_btn_bd_color:hover{
  background-color: var(--white);
  color: var(--white);
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  /* color: var(--white);
    background-color: var(--mint);
    border-color: var(--mint); */
    box-shadow: var(--mint-focus);
  border-color: var(--mint);
}
.btn-check+.btn:hover{
  background-color: var(--white);
  color: var(--dark-gray);
}