@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

:root{
  /* LAYOUT */
  --base-unit: 20px;
  --bs-border-color: var(--gray);
  --bs-border-width: 2px;

  /* TYPOGRAPHY */
  --tt-size-01: 36px;
  --tt-size-02: 28px;
  --tt-size-03: 24px;

  --text1-size: 20px;
  --text2-size: 18px;
  --text3-size: 16px;
  --text4-size: 14px;

  /* COLOR */
  --bs-body-color: #1c1c1c;
  --white: #fff;
  --black: #1c1c1c;
  --dark-gray: #505050;
  --gray: #929292;
  --light-gray: #dedede;
  --blue-Gray: #E6ECEC;
  --dark-blue: #252a38;
  --mint: #2ac1bc;
  --red: #e95b5a;
  --orange: #f1511e;

  /* BOX-SHADOW */
  --mint-focus: 0px 0px 0px 5px rgba(42, 193, 188, 0.35);
  --card-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.15);
}
.container{
  width: 1272px;
}

a{
  color: var(--dark);
  text-decoration: none;
}

/* LAYOUT */
body{
  background-color: var(--dark-blue);
  color: var(--black);
  font-family: 'Inter', sans-serif;
  padding: 1% 3%;
}
.background{
  max-width: 1920px;
  margin: 0 auto;
}
.aside, .main{
  background-color: var(--blue-Gray);
  border-radius: 24px;
}
.aside{
  width: 15%;
  height: 100vh;
  max-height: 920px;
}
.aside li{
  width: 100%;
  text-align: left;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 5% 0 5% 18%;
  margin-top: 10%;  
}
.aside li a{
  color: var(--dark-blue);
  text-decoration: none;
}
.aside .logo{
  margin: 30% 0 20%;
  text-align: center;
}
.aside li:hover{
  background: var(--dark-blue);
}
.aside li:hover a{
  color: var(--white);
}
.aside_title{
  gap: calc(var(--base-unit) * 3);
}
.logout{
  padding-left: 18%;
}

.main{
  width: 85%; 
  padding: 2.5%;
}
.common_pd{
  padding: 0 8%;
}
.space{ /* table tr에 적용 가능 */
  border-top: var(--base-unit) solid transparent;
}

/* TYPOGRAPHY */
.tt_01{
  font-size: var(--tt-size-01); /* 36px */
  font-weight: 700;
  line-height: 40px;
}
.tt_02{
  font-size: var(--tt-size-02); /* 28px */
  font-weight: 700;
  line-height: 40px;
}
.tt_03{
  font-size: var(--tt-size-03); /* 24px */
  font-weight: 700;
  line-height: 40px;
}
.text1{
  font-size: var(--text1-size); /* 20px */
  font-weight: 500;
}
.text2{
  font-size: var(--text2-size); /* 18px */
  font-weight: 500;
}
.text3{
  font-size: var(--text3-size); /* 16px */
  font-weight: 500;
}
.text4{
  font-size: var(--text4-size); /* 14px */
  font-weight: 500;
}

/* COLOR */
.white{
  color:var(--white);
}
.black{
  color:var(--black);
}
.dark_gray{
  color:var(--dark-gray);
}
.gray{
  color:var(--gray);
}
.light_gray{
  color:var(--light-gray);
}
.blue_Gray{
  color:var(--blue-Gray);
}
.dark_blue{
  color:var(--dark-blue);
}
.mint{
  color:var(--mint);
}
.red{
  color:var(--red);
}
.orange{
  color:var(--orange);
}

/* BACKGROUND_COLOR */
.white_back{
  background:var(--white);
}
.black_back{
  background:var(--black);
}
.dark_gray_back{
  background:var(--dark-gray);
}
.gray_back{
  background:var(--gray);
}
.light_gray_back{
  background:var(--light-gray);
}
.blue_Gray_back{
  background:var(--blue-Gray);
}
.dark_blue_back{
  background:var(--dark-blue);
}
.mint_back{
  background:var(--mint);
}
.red_back{
  background:var(--red);
}
.orange_back{
  background:var(--orange);
}

/* ICON */
i.bi{
  color: var(--dark);
  font-size: 24px;
  padding: 0 5px;
}
.icon_gray:hover{
  color: var(--gray);
}
.icon_red:hover{
  color: var(--red);
}
.icon_mint:hover{
  color: var(--mint);
}

/* FORM, SELECT, TOGGLE */
.form-check-input{
  width: 42px !important;
  height: 20px !important;
}
.form-check-input:checked {
  background-color: var(--mint);
  border-color: var(--mint);
}
.form-control:focus,
.form-select:focus,
.form-check-input:focus{
  box-shadow: var(--mint-focus);
  border-color: var(--mint);
}
input.form-control::placeholder{
  color: var(--gray);
}
input:focus::placeholder{
  color:transparent;
}
.seach{
  position: relative;
  display: inline-block;
}
.seach button{
  position: absolute;
  background: var(--white);
  padding: 1px 0;
  top: 6px;
  right: 2px;
}

/* BUTTON */
button{
  background: transparent;
  border: none;
}
.btn {
  --bs-btn-font-weight: 700;
}
.btn-primary {
  --bs-btn-bg: var(--mint);
  --bs-btn-border-color: var(--mint);
  --bs-btn-hover-color: var(--mint);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--mint);
  --bs-btn-active-bg: var(--mint);
  --bs-btn-active-border-color: var(--mint);
  --bs-btn-disabled-bg: var(--mint);
  --bs-btn-disabled-border-color: var(--mint);
}
.btn-secondary{
  --bs-btn-bg: var(--gray);
  --bs-btn-border-color: var(--gray);
  --bs-btn-hover-color: var(--gray);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--gray);
  --bs-btn-active-bg: var(--gray);
  --bs-btn-active-border-color: var(--gray);
  --bs-btn-disabled-bg: var(--gray);
  --bs-btn-disabled-border-color: var(--gray);
}
.btn-dark{
  --bs-btn-bg: var(--dark-gray);
  --bs-btn-border-color: var(--dark-gray);
  --bs-btn-hover-color: var(--dark-gray);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: var(--dark-gray);
  --bs-btn-active-bg: var(--dark-gray);
  --bs-btn-active-border-color: var(--dark-gray);
  --bs-btn-disabled-bg: var(--dark-gray);
  --bs-btn-disabled-border-color: var(--dark-gray);
}

/* BOX-SHADOW */
.box_shadow{
  background: var(--white);
  box-shadow: var(--card-shadow);
}

/* BORDER-RADIUS */
.radius_medium{
  border-radius: 12px;
}
.radius_large{
  border-radius: 24px;
}

/* PAGINATION */
.pagination {
  font-weight: 700;
  --bs-pagination-bg: transparent;
  --bs-pagination-hover-color: var(--gray);
  --bs-pagination-hover-bg: transparent;
  --bs-pagination-focus-color: var(--mint);
  /* --bs-pagination-focus-box-shadow: inset var(--mint-focus); */
  --bs-pagination-focus-box-shadow: transparent;
  --bs-pagination-active-bg: var(--mint);
  --bs-pagination-active-border-color: var(--mint);
  --bs-pagination-disabled-color: var(--light-gray);
  --bs-pagination-disabled-bg: transparent;
}
.page-link {
  line-height: 1.5;
  color: var(--dark-gray);
  border-radius: var(--bs-border-radius);
  border: transparent;
  margin: 0 0.125rem;
}

/* SELECT */
.ui-widget {
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: var(--dark-gray);
}
.ui-selectmenu-button.ui-button {
  /* width: 25%; */
  text-align: center;
  font-weight: 700;
  background: var(--white);
  border: var(--bs-border-width) solid var(--gray);
  border-radius: var(--bs-border-radius);
  line-height: 1.5;
  margin-right: 0;
  padding: 0.375rem 0.75rem;
}
.ui-selectmenu-button.ui-button:hover{
  color: var(--dark-gray);
}
.ui-widget.ui-widget-content {
  border: var(--bs-border-width) solid var(--gray);
  border-radius: var(--bs-border-radius);
}
.ui-menu-item-wrapper {
  line-height: 1.3;
}
.ui-menu-item-wrapper.ui-state-active {
  border: var(--mint);
  background: var(--mint);
  box-sizing: border-box;
  margin: 0;
}
.ui-button:focus {
  box-shadow: var(--mint-focus);
  border: var(--bs-border-width) solid var(--mint);
}
/*
.ui-button .ui-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(image/arrow_bot.svg);
  background-position: 0 0;
  order: 2;
}
*/

/* hr */
hr {
  margin: var(--base-unit) 0;
  color: var(--gray);
  opacity: 1;
}