/* notice */
.notice .table .board_hd{
  font-weight: 700;
  line-height: 1.8;
  border-top: var(--bs-border-width) solid var(--dark-gray);
  border-bottom: var(--bs-border-width) solid var(--dark-gray);
}
.notice .table .board_bd{
  line-height: 1.5;
  border-bottom: 1px solid var(--gray);
}
.notice .board_bd .a_link{
  width: 100%;
  height: 100%;
  display: inline-block;
  text-overflow: ellipsis;
}
.notice .board_bd .a_link:hover{
  color: var(--mint);
  font-weight: 600;
}
.notice table i.bi.bi-link-45deg{
  font-size: var(--text2-size);
  color: var(--black);
}

/* notice_write, notice_modify */
.notice_write table,
.notice_modify table,
.notice_view table{
  width: 100%;
}
.notice_write table th,
.notice_modify table th{
  width: 15%;
}
.notice_write .note-editor.note-frame,
.notice_modify .note-editor.note-frame{
  border: var(--bs-border-width) solid var(--gray);
}
.note-editable.card-block{
  line-height: 1.2;
}

/* notice_view */
.notice_view table th{
  width: 10%;
}
.notice_view .board_bd{
  border-bottom: 1px solid var(--gray);
  padding-bottom: 1%;
  line-height: 1.2;
}
.notice_view table .box{
  width: 30%;
}
.notice_view table .box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.notice_view .text1{
  font-weight: 700;
}
.notice_view table .box a:hover{
  color: var(--mint);
  
}
